mod08/DemoRemoteData/DemoRemoteData.WCFClient/Service References/ProxyAzure/AlunoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlunoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IAlunoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://demowcf.azurewebsites.net/AlunoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://demowcf.azurewebsites.net/AlunoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://demowcf.azurewebsites.net/AlunoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoRemoteData.WCFServer" />
      <xsd:import schemaLocation="http://demowcf.azurewebsites.net/AlunoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DemoRemoteData.Core.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlunoService_ObterTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterTodos" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_ObterTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_ObterPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterPorId" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_ObterPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_Adicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Adicionar" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_Adicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlunoService">
    <wsdl:operation name="ObterTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/ObterTodos" message="tns:IAlunoService_ObterTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/ObterTodosResponse" message="tns:IAlunoService_ObterTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/ObterPorId" message="tns:IAlunoService_ObterPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/ObterPorIdResponse" message="tns:IAlunoService_ObterPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/Adicionar" message="tns:IAlunoService_Adicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/AdicionarResponse" message="tns:IAlunoService_Adicionar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlunoService" type="tns:IAlunoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterTodos">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/ObterTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPorId">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/ObterPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/Adicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IAlunoService" type="tns:IAlunoService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IAlunoService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterTodos">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/ObterTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterPorId">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/ObterPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/Adicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlunoService">
    <wsdl:port name="BasicHttpBinding_IAlunoService" binding="tns:BasicHttpBinding_IAlunoService">
      <soap:address location="http://demowcf.azurewebsites.net/AlunoService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IAlunoService" binding="tns:BasicHttpsBinding_IAlunoService">
      <soap:address location="https://demowcf.azurewebsites.net/AlunoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>