mod08/DemoRemoteData/DemoRemoteData.WCFClient/Service References/ProxyAzure/AlunoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DemoRemoteData.WCFServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DemoRemoteData.WCFServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlunoVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlunoVM" nillable="true" type="tns:AlunoVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlunoVM" nillable="true" type="tns:ArrayOfAlunoVM" />
  <xs:complexType name="AlunoVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="DataCadastro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idade" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlunoVM" nillable="true" type="tns:AlunoVM" />
</xs:schema>