mod08/DemoRemoteData/DemoRemoteData.WCFClient/Service References/ProxyAzure/AlunoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demowcf.azurewebsites.net/AlunoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DemoRemoteData.WCFServer" />
  <xs:import schemaLocation="http://demowcf.azurewebsites.net/AlunoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DemoRemoteData.Core.Entities" />
  <xs:element name="ObterTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DemoRemoteData.WCFServer" minOccurs="0" name="ObterTodosResult" nillable="true" type="q1:ArrayOfAlunoVM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DemoRemoteData.Core.Entities" minOccurs="0" name="ObterPorIdResult" nillable="true" type="q2:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DemoRemoteData.Core.Entities" minOccurs="0" name="aluno" nillable="true" type="q3:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DemoRemoteData.Core.Entities" minOccurs="0" name="AdicionarResult" nillable="true" type="q4:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>